@charset "utf-8";
/*通用*/
body {
    margin: 0px;
    padding: 0px;
}

ul, li, p, h1, h2, h3, h4, h5, h6, dl, dt, dd {
    margin: 0px;
    padding: 0px;
    border: none;
    list-style: none;
}

a {
    text-decoration: none;
}

input, img {
    border: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clear {
    content: '';
    clear: both;
    display: table;
}

/*整理布局*/
#topContent, #navbar, #bannerList, #footer {
    width: 1000px;
    margin: 0 auto;
}

#topContent {
    height: 90px;
}

#contactUs {
    float: right;
    font: italic 16px/90px "microsoft yahei";
    width: 300px;
}

nav, #courseContent, #career .careerInfo {
    width: 100%;
    background: #0e14e9;
}

#navbar {
    /*height: 45px;*/
    /*overflow: hidden;*/
}

#navbar:after {
    content: '';
    clear: both;
    display: block;
}

#navbar li {
    float: left;
}

#navbar li a {
    width: 137px;
    display: inline-block;
    text-align: center;
    color: white;
    font: bold 16px/45px "microsoft yahei";
}

#navbar .active, #navbar li a:hover, #courseContent a {
    background-color: #e4393c;
}

#banner {
    background: #000000;
}

#bannerList {
    position: relative;
}

.courseData {
    position: absolute;
    right: 0;
    top: 0;
    width: 266px;
    height: 288px;
    background: url("../img/course_begin.jpg") center center no-repeat;
    text-align: center;
    margin-top: 26px;
}

.courseTitle {
    margin: 26px auto 15px;
}

.courseTitle div {
    display: inline-block;
}

.courseTitle img {
    float: left;
}

.courseTitleContent {
    font-size: 24px;
    display: inline-block;
    height: 31px;
    line-height: 31px;
    color: white;
    float: left;
}

.courseData > ul > li {
    width: 266px;
    height: 42px;
    line-height: 42px;
    color: white;
    border-bottom: 1px solid #4dc1eb;
    font-size: 13px;
    font-weight: bold;
}

.courseData > ul > li:first-child, .courseData > ul > li:nth-child(2) {
    color: #FBCF67;
}

section {
    width: 1000px;
    margin: 20px auto 20px;
}

#defineBox {
    background-color: rgb(244, 248, 251);
    overflow: hidden;
    margin-bottom: 20px;
}

#defineBox > img, #defineBox ul {
    float: left;
}

#defineBox ul > li {
    float: left;
    margin-left: 55px;
}

#courseContent div, #career .careerInfo, #blessing .blessingInfo {
    color: white;
    font-size: 20px;
    height: 49px;
    line-height: 49px;
}

#courseContent .combat, #career .careerInfo {
    padding-left: 20px;
    display: inline-block;
}

#courseContent a {
    display: inline-block;
    width: 104px;
    text-align: center;
    color: white;
}

#courseList {
    background-color: #f5f8fa;
    margin-bottom: 20px;
}

#courseList div {
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}

#career {
    display: inline-block;
}

#career .careerInfo {
    box-sizing: border-box;
    display: inline-block;
    background: #0e14e9;
    width: 646px;
}

#blessing {
    width: 330px;
    height: 330px;
    background: #F9FAFC;
    float: right;
}

#blessing .blessingInfo {
    background: #e4393c;
    text-align: center;
}

footer {
    height: 300px;
    background-color: black;
    color: white;
}

#footer .footLeft, #footer .footRight {
    width: 50%;
    /*解决h1上外边距超出的问题*/
    float: left;
}

#footer .footLeft > h1 {
    margin: 40px auto 20px;
}

#footer .contactInfo {
    margin-top: 20px;
}

#footer .contactInfo > li {
    font-size: 18px;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    color: #eeeeee;
    line-height: 40px;
}

#footer .contactInfo > li > img {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#footer .contactInfo > li > p {
    vertical-align: top;
    margin-left: 10px;
    display: inline-block;
}

#footer .footRight {
    margin-top: 40px;
    text-align: center;
}

.Carousel {
    text-align: center;
}

.Carousel div {
    text-align: left;
    margin: 0 40px;
    font-size: 16px;
}

/********************* aside ******************/
#aside {
    display: inline-block;
    position: fixed;
    right: 1px;
    top: 150px;
    background-color: rgba(51, 51, 51, 0.9);
    z-index: 999;
    font-size: 12px;
}

#asideLeft {
    width: 36px;
    position: relative;
    float: left;
    z-index: 1;
    cursor: pointer;
}

#isSpread, #isFold {
    display: block;
    width: 20px;
    height: 146px;
    padding: 8px;
    background: url("../img/bg1.png") no-repeat -410px 0;
}

#isFold {
    display: none;
    background: url("../img/bg1.png") no-repeat -450px 0;
}

#asideRight {
    display: none;
    float: left;
    width: 150px;
    margin: 5px;
    background-color: #F7F7F7;
    text-align: center;
}

#asideRight h3 {
    font-size: 14px;
    color: #333;
    text-align: center;
    line-height: 24px;
    padding: 5px;
}
#asideRight ul{
    padding: 0 0 0 8px;
}

#asideRight ul li {
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #E6E4E4;
}
#asideRight ul li:nth-child(2) {
    font-weight: bold;
    color: #f00;
}
#asideRight ul li:nth-child(3),#asideRight ul li:nth-child(4) {
    font-weight: bold;
    color: #0070c0;
}

#asideRight ul li img {
    vertical-align: middle;
}

#asideRight dl dt{
    margin: 10px 0;
}
#asideRight dl dt img{
    width: 132px;
    height: 132px;
}
#sina li a{
    text-decoration: underline;
    color: #00A0E9;
}
#sina li a:hover{
    color: #ff8100;
    text-decoration: none;
}

/***************subject****************/
#system {
    width: 100%;
    height: 400px;
    background: url("../img/subject/bj_02.jpg") center center;
}

.bannerImg {
    width: 1000px;
    height: 400px;
}

#signUpBtn {
    position: absolute;
    width: 101px;
    height: 34px;
    z-index: 99;
    top: 223px;
}

#detailBtn {
    position: absolute;
    width: 135px;
    height: 34px;
    z-index: 99;
    top: 223px;
    left: 120px;
}

#services {
    background-color: rgb(28, 28, 28);
}

#servicesInfo {
    width: 1000px;
    height: 230px;
    margin: 0 auto;
}

.vipImg {
    height: 80px;
    text-align: center;
}

.vipImg img {
    height: 80px;
}

.contactUs {
    height: 150px;
}

.tabLeft, .tabRight {
    width: 50%;
    height: 150px;
    float: left;
}

.tabLeft img, .tabRight img {
    float: left;
    margin-left: 80px;
    margin-top: 15px;
    width: 100px;
}
.tabRight img{
    margin-left: 20px;
}

.tabLeftInfo, .tabRightInfo {
    height: 130px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.tabLeftInfo p {
    font-size: 20px;
    color: rgb(214, 214, 214);
    height: 30px;
    line-height: 30px;
}

.tabLeftInfo p span {
    display: inline-block;
    background-color: #006ec4;
}

.tabRightInfo {
    width: 290px;
}

.tabRightInfo ul li {
    float: left;
    font-size: 16px;
    color: #d6d6d6;
    width: 100px;
    height: 20px;
    line-height: 20px;
}
.tabRightInfo ul li:nth-child(6) {
    width: 150px;
}
.tabRightInfo ul a li{
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 200px;
    margin-top: 10px;
    background-color: #d5494d;
}
#sectionOne{
    width: 100%;
    background-color: #f0f0f0;
}

#sectionOne img{
    width: 800px;
    height: 512px;
    margin: 0 auto;
    display: block;
}
#sectionTwo{
    width: 100%;
    background-color: #045690;
}
#sectionTwo img{
    width: 800px;
    height: 600px;
    margin: 0 auto;
    display: block;
}
#sectionThree{
    width: 100%;
    background-color: #f8f8f8;
}
#sectionThree img{
    width: 800px;
    height: 500px;
    margin: 0 auto;
    display: block;
}
#features{
    width: 100%;
    text-align: center;
}
.featuresTitle{
    width: 83%;
    margin: 0 auto;
    height: 150px;
}
.featuresTitle h1{
    margin: 32px auto 20px;
}
.featureContent{
    width: 1000px;
    margin: 0 auto;
    height: 696px;
}
.featureContent ul li{
    width: 320px;
    height: 220px;
    margin-left: 5px;
    margin-top: 5px;
    float: left;
}
.featureContent ul li img{
    width: 320px;
    height: 220px;
}
#teachers{
    width: 100%;
    text-align: center;
}
.teachersTitle, .practicalTitle{
    width: 1000px;
    height: 100px;
    margin: 0 auto;
}
.teachersTitle span, .practicalTitle span{
    display: block;
    height: 50px;
    width: 400px;
    line-height: 50px;
    font-size: 35px;
    font-weight: bold;
    margin: 25px auto 0;
    color: #035791;
    text-align: center;
}
.teachersContent img{
    width: 759px;
    height: 500px;
}
#practicalSys{
    width: 100%;
    margin-bottom: 80px;
}
#details{
    width: 759px;
    margin: 0 auto;
}
#details dl dt{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #fff;
    background: #d74a49;
    padding-left: 24px;
    margin-bottom: 3px;
}
#details dl dd{
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    background: #dbdbdb;
    padding-left: 60px;
    margin-bottom: 3px;
}